<div class="titulo animate__animated animate__fadeIn">
    <h2>{{ proyectoActual.titulo }}</h2>
</div>

<div class="proyectos animate__animated animate__fadeIn">
    <div class="flechaIzq" (click)="cambiarProyecto(-1)">
        <i class="fas fa-chevron-left"></i>
    </div>

    <div class="contenido">
        <div class="izq">
            <ng-container *ngIf="proyectoActual.videoUrl; else carruselContent">
                <div class="video-container">
                    <iframe [src]="proyectoActual.videoUrl | safeUrl" title="{{ proyectoActual.titulo }} video"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
            </ng-container>
            <ng-template #carruselContent>
                <carrusel [images]="proyectoActual.images" carouselId="slider{{ proyectoActualIndex }}"></carrusel>
            </ng-template>
            <div class="tags">
                <div class="tag" *ngFor="let tag of proyectoActual.tags">
                    <p>{{ tag }}</p>
                </div>
            </div>
        </div>
        <div class="der">
            <div class="descripcion" [innerHTML]="proyectoActual.descripcion"></div>
        </div>
        <div class="flechaDer" (click)="cambiarProyecto(1)">
            <i class="fas fa-chevron-right"></i>
        </div>
    </div>
</div>

<div class="contador animate__animated animate__fadeIn">
    <p>{{ proyectoActualIndex + 1 }}/{{ proyectos.length }}</p>
</div>