<div class="proyectos">
    <!--<app-project-card
        [imageUrl]="'../../../assets/img/ReadyRecipes/ready1.webp'"
        [title]="'ReadyRecipes'"
        [description]="'Aplicación realizada con JavaFX conectada a una Base de Datos SQL y a su vez a un dispositivo Arduino Uno encargado de leer el oxígeno en sangre y la frecuencia cardíaca de un usuario. Con este proyecto, buscamos aportar un sistema interconectado y personalizable de pulseras para equipos de deportistas que deseen medir la intensidad de sus entrenamientos.'"
        [tags]="['Angular', 'Laravel']"
    />
    <app-project-card
        [imageUrl]="'../../../assets/img/Go2TheTop/logoGO2.webp'"
        [title]="'Go2TheTop'"
        [description]="'Aplicación realizada con JavaFX conectada a una Base de Datos SQL y a su vez a un dispositivo Arduino Uno encargado de leer el oxígeno en sangre y la frecuencia cardíaca de un usuario. Con este proyecto, buscamos aportar un sistema interconectado y personalizable de pulseras para equipos de deportistas que deseen medir la intensidad de sus entrenamientos.'"
        [tags]="['Java', 'Arduino']"
    />
    <app-project-card
        [imageUrl]="'../../../assets/img/Go2TheTop/logoGO2.webp'"
        [title]="'Go2TheTop'"
        [description]="'Aplicación realizada con JavaFX conectada a una Base de Datos SQL y a su vez a un dispositivo Arduino Uno encargado de leer el oxígeno en sangre y la frecuencia cardíaca de un usuario. Con este proyecto, buscamos aportar un sistema interconectado y personalizable de pulseras para equipos de deportistas que deseen medir la intensidad de sus entrenamientos.'"
        [tags]="['Java', 'Arduino']"
    />-->


</div>
