.project-card {
    width: 20vw;
    height: 60vh;
    cursor: pointer;
    position: relative;
    background-color: black;
    opacity: 0.5;
}
  
.background-image {
    width: 20vw;
    height: 60vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
  
.project-title{

} 

.project-description{

} 

.project-tags {
    
}
  
.project-tags .tag {
    
}
