<!--<div class="sobremi">
    <div class="timeline animate__animated animate__fadeIn">
        <h4>Experiencia laboral y educación</h4>
        <timeline [items]="itemsProfesional"></timeline>
    </div>
</div>--> 

<div class="container animate__animated animate__fadeIn">
    <section class="section">
        <h2>Experiencia Laboral</h2>
        <div class="timeline">
            <div class="timeline-item">
                <h3>Consultor tecnológico junior</h3>
                <div class="content">
                    <div class="izq">
                        <p>Desarrollo Microsoft Power Platform (Power Apps, Power Automate, Dataverse, Power BI) con proyectos internos y B2B.</p>
                    </div>
                    <div class="der">
                        <span>2024-Act.</span>
                        <img src="../../../assets/img/Companies/EY_logo.png" alt="Logo EY" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <h3>Prácticas Ingeniería Informática</h3>
                <div class="content">
                    <div class="izq">
                        <p>Prácticas en el departamento de Transformación Digital, elaborando soluciones Microsoft Power Platform.</p>
                    </div>
                    <div class="der">
                        <span>2023-2024</span>
                        <img src="../../../assets/img/Companies/EY_logo.png" alt="Logo EY" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <h3>Diseño Web y de Apps</h3>
                <div class="content">
                    <div class="izq">
                        <p>Elaboración de páginas web y aplicaciones móoviles desde cero utilizando HTML, CSS, JavaScript, React, React-native y Angular.</p>
                    </div>
                    <div class="der">
                        <span>2021-Act.</span>
                        <img src="../../../assets/img/angular.webp" alt="Logo Angular" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <h3>Profesor</h3>
                <div class="content">
                    <div class="izq">
                        <p>Impartición de clases individuales y en grupos pequeños de niveles y asignaturas variados: programación, matemáticas y ESO.</p>
                    </div>
                    <div class="der">
                        <span>2021-2023</span>
                        <img src="../../../assets/img/java.webp" alt="Logo Java" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <h2>Formación Académica</h2>
        <div class="timeline">
            <div class="timeline-item">
                <h3>Grado en Ingeniería Informática</h3>
                <div class="content">
                    <div class="izq">
                        <p>Universidad Europea de Madrid</p>
                    </div>
                    <div class="der">
                        <span>2020-2024</span>
                        <img src="../../../assets/img/Companies/logo UE.jpeg" alt="Logo UEM" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <h3>Bachillerato Tecnológico</h3>
                <div class="content">
                    <div class="izq">
                        <p>Instituto Diego Velázquez</p>
                    </div>
                    <div class="der">
                        <span>2017-2019</span>
                        <img src="../../../assets/img/Companies/Diego_Velazquez.webp" alt="Logo UEM" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <h3>Curso de Computer Science</h3>
                <div class="content">
                    <div class="izq">
                        <p>Oxford Summer Courses, St. Anne's College</p>
                    </div>
                    <div class="der">
                        <span>2018</span>
                        <img src="../../../assets/img/Companies/StAnnes logo.jpg" alt="Logo StAnnes" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="timeline-item">
                <h3>Educación Secundaria Trilingüe</h3>
                <div class="content">
                    <div class="izq">
                        <p>École Européenne de Bruxelles</p>
                    </div>
                    <div class="der">
                        <span>2011-2015</span>
                        <img src="../../../assets/img/Companies/Ecole Europeenne logo.png" alt="Logo EE" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <h2>Idiomas</h2>
        <div class="timeline">
            <div class="timeline-item">
                <h3>Español</h3>
                <p>Nativo</p>
            </div>
            <div class="timeline-item">
                <h3>Inglés</h3>
                <p>Nivel C1 Cambridge</p>
            </div>
            <div class="timeline-item">
                <h3>Francés</h3>
                <p>Nivel B2 DELF</p>
            </div>
        </div>
    </section>
</div>
