app-header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
}

app-header.show {
    transform: translateY(0);
}

/*.content {
    padding-top: 64px; // Adjust based on the height of your header
}*/