<div class="principal">

    <app-header></app-header>

    <div class="bienvenida">
        
        <div class="imagen">
            <img src="../../../assets/img/fotoperfil.webp" alt="Ignacio Gil" height="450px">
        </div>
        <div class="derecha">
            <div class="texto">
                <p>Buenas, soy</p>
                <h1>IGNACIO GIL GARZÓN</h1>
                <p>Estudiante de <span class="fancy">Ingeniería Informática</span></p>
            </div>
            <div class="programas">
                <p class="texto-front">Front-end</p>
                <div class="logos-front">
                    <ul>
                        <div class="fila1">
                            <li>
                                <img src="../../../assets/img/html.webp" alt="HTML5">
                            </li>
                            <li>
                                <img src="../../../assets/img/css.webp" alt="CSS3">
                            </li>
                            <li>
                                <img src="../../../assets/img/js.webp" alt="JavaScript">
                            </li>
                        </div>
                        <div class="fila2">
                            <li>
                                <img src="../../../assets/img/angular.webp" alt="Angular.js">
                            </li>
                            <li>
                                <img src="../../../assets/img/tkinter.webp" alt="Tkinter" class="tkinter">
                            </li>
                            <li>
                                <img src="../../../assets/img/figma.png" alt="Figma">
                            </li>
                        </div>
                    </ul>
                </div>
                <p id="texto-back">Back-end</p>
                <div class="logos-back">
                    <ul>
                        <div class="fila1">
                            <li>
                                <img src="../../../assets/img/python.webp" alt="Python">
                            </li>
                            <li>
                                <img src="../../../assets/img/pandas.webp" alt="Pandas">
                            </li>
                            <li>
                                <img src="../../../assets/img/spark.webp" alt="Spark">
                            </li>
                        </div>
                        <div class="fila2">
                            <li>
                                <img src="../../../assets/img/google-cloud.png" alt="Google Cloud">
                            </li>
                            <li>
                                <img src="../../../assets/img/java.webp" alt="Java">
                            </li>
                            <li>
                                <img src="../../../assets/img/git.webp" alt="Git">
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
