<nav>
    <header class="animate__animated animate__slideInDown">

        <div class="container3">
            <li class="item-menu">
                <i class="fa-solid fa-moon"></i>
            </li>
            <div class="btn-group">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                  ES
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">EN</a></li>
                  <li><a class="dropdown-item" href="#">FR</a></li>
                </ul>
            </div>
        </div>
    
        <div class="container1">
            <div class="items1">
                <li class="item-menu">
                    <span class="link">Sobre Mí</span>
                </li>
                <li class="item-menu">
                    <span class="link">Proyectos</span>
                </li>
            </div>
            <div class="logo">
                <video width="90" height="50" autoplay loop (click)="recargarPagina()">
                    <source src="../../../assets/vid/LogoNachSOLO.220.mp4" type="video/mp4">
                </video>
            </div>
            <div class="items2">
                <li class="item-menu">
                    <span class="link">Servicios</span>
                </li>
                <li class="item-menu">
                    <span class="link">Contacto</span>
                </li>
            </div>
        </div>
    
        <div class="container2">
            <li class="item-menu">
                <a href="https://www.linkedin.com/in/ignacio-gil-garzon"><i class="fa-brands fa-linkedin"></i></a>
            </li>
            <li class="item-menu">
                <a href="https://www.github.com/ignaciogg"><i class="fa-brands fa-github"></i></a>
            </li>
            <li class="item-menu">
                <a href="mailto: nachogilgarzon@gmail.com"><i class="fa-solid fa-envelope"></i></a>
            </li>
        </div>

        <div class="hamburguesa">
            <a class="barras">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </header>

</nav>

<div class="sidebar-menu">
    <ul>
      <li><span class="link">Sobre Mí</span></li>
      <li><span class="link">Proyectos</span></li>
      <li><span class="link">Servicios</span></li>
      <li><span class="link">Contacto</span></li>
      <li><a href="https://www.linkedin.com/in/ignacio-gil-garzon"><i class="fa-brands fa-linkedin"></i></a></li>
      <li><a href="https://www.github.com/ignaciogg"><i class="fa-brands fa-github"></i></a></li>
      <li><a href="mailto:nachogilgarzon@gmail.com"><i class="fa-solid fa-envelope"></i></a></li>
    </ul>
</div>
