nav{
    width: 100vw;
    
    header{
        background-color: var(--colorBack);
        color:var(--colorTextoBlanco);
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
}

.container1{
    background-color: var(--colorHeader);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: fit-content;
    width: 40%;
    box-shadow: 0 0 30px var(--colorTextoRojo);
    border-radius: 0 0 20px 20px;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.5% 2%;

    .logo video{
        cursor: pointer;
    }
}

.container2{
    background-color: var(--colorHeader);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: fit-content;
    width: 8%;
    box-shadow: 0 0 30px var(--colorTextoAmarillo);
    border-radius: 0 0 20px 20px;
    font-size: 1.5rem;
    padding: 1% 2%;
    gap: 0.8rem;
    .item-menu{
        cursor: pointer;
        a{
            color: var(--colorTextoBlanco);
        }
    }
    .item-menu a:hover{
        color: var(--colorTextoAmarillo);
        transition: 0.8s;
    }
}

.container3{
    background-color: var(--colorHeader);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: fit-content;
    width: 8%;
    box-shadow: 0 0 30px var(--colorTextoAzul);
    border-radius: 0 0 20px 20px;
    font-size: 1.5rem;
    padding: 1% 2%;
    gap: 0.8rem;

    .item-menu{
        cursor: pointer;
    }
    .item-menu:hover{
        color: var(--colorTextoAzul);
        transition: 0.8s;
    }

    .btn{
        background-color: var(--colorBack);
    }
}
  
.sidebar-menu{
    position: fixed;
    top: 0;
    right: -70%;
    width: 70%;
    height: 100svh;
    font-size: 1.5rem;
    background-color: var(--colorBack);
    color: var(--colorTextoBlanco);
    z-index: 999;
    transition: right 0.3s;
    overflow-y: auto;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            padding: 10px;
            a {
                color: var(--colorTextoBlanco);
            }
            .link {
                cursor: pointer;
            }
            .home{
                margin-bottom: 5%;
            }
        }
    } 

    .redes{
        display: flex;
        flex-direction: row;
        margin-top: 10%;
    }
}

.sidebar-menu.open {
    right: 0;
}
  
@media only screen and (max-width: 1150px) {
    .container1.open {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
}

@media only screen and (min-width: 1150px){
    header{
        gap: 5%;
    }
    .items1, .items2{
        display: flex;
        gap: 2rem;
        .item-menu{
            cursor: pointer;
        }
        .item-menu:hover{
            color: var(--colorTextoRojo);
            transition: 0.8s;
        }
    }

    .hamburguesa{
        display: none;
    }
}

@media only screen and (max-width: 1150px){
    header{
        margin: 0;
        padding: 0;
        gap: 0;
    }
    .container2, .container3{
        display: none;
    }
    .items1, .items2{
        display: none;
    }

    .container1{
        justify-content: center;
        width: 35%;
        margin-left: 20%;
        margin-right: 15%;
        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .hamburguesa{
        display: flex;
        align-items: center;
        margin-right: 2%;
        .barras{
            color: var(--colorTextoBlanco);
            font-size: 20px;
        }
        .barras:hover{
            transition: 0.5s;
            cursor: pointer;
            color: var(--colorTextoRojo);
        }
    }

}
