<header>

    <div class="container3 animate__animated animate__slideInDown">
        <li class="item-menu">
            <i class="fa-solid fa-moon"></i>
        </li>
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
              ES
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">EN</a></li>
              <li><a class="dropdown-item" href="#">FR</a></li>
            </ul>
        </div>
    </div>

    <div class="container1 animate__animated animate__slideInDown">
        <div class="items1">
            <li class="item-menu">
                <span class="link">Sobre Mí</span>
            </li>
            <li class="item-menu">
                <span class="link">Proyectos</span>
            </li>
        </div>
        <div class="logo">
            LOGO
        </div>
        <div class="items2">
            <li class="item-menu">
                <span class="link">Servicios</span>
            </li>
            <li class="item-menu">
                <span class="link">Contáctame</span>
            </li>
        </div>
    </div>

    <div class="container2 animate__animated animate__slideInDown">
        <li class="item-menu">
            <i class="fa-brands fa-linkedin"></i>
        </li>
        <li class="item-menu">
            <i class="fa-brands fa-github"></i>
        </li>
        <li class="item-menu">
            <i class="fa-solid fa-envelope"></i>
        </li>
    </div>
</header>
