@import "../node_modules/bootstrap/scss/bootstrap";

:root {
    --colorBack: #323239;
    --colorTextoBlanco: rgb(233, 233, 233);
    --colorTextoRojo: #af4f65;
    --colorTextoAzul: #4f75af;
    --colorTextoAmarillo: #a9af4f;
    background-color: var(--colorBack);
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 10px;

    padding: 0;
    list-style: none;
}
