@import "../node_modules/bootstrap/scss/bootstrap";

:root {
    --colorBack: #323239;
    background-color: var(--colorBack);
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 10px;

    padding: 0;
    list-style: none;
}
